/**
 * @package     Frontline WebApp Base
 *
 * @subpackage  <CSS file>
 *
 * @author      Andra Ungureanu <andra@frontline.ro>
 * @copyright   2017-2020 Frontline softworks <https://www.frontline.ro>
 * @license     https://opensource.org/licenses/BSD-3-Clause
 *
 * @description The purpose of this file is to instantiate custom CSS styling.
 *
 * @since       2020.08.05
 *
 */

body {
    /* font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 100%;
    height: 100%;
    cursor: default; */
}

[data-notify="container"] {
    border-radius: .25rem;
    box-shadow: 9px 4px 26px -3px rgba(0, 0, 0, .75);
    border-width: 0;
    letter-spacing: 1px;
    width: auto;
    z-index: 9999 !important;
}

h1 {
    font-size: 28px;
    margin: auto;
}

.c-sidebar-minimizer {
    justify-content: flex-start;
}

/* Profile form */
.file-drop-zone {
    border: none;
    min-height: 0;
    margin: auto;
}

/* Grid-view form */
#grid-view .action-column-buttons {
    min-width: 100px;
}

#grid-view .action-column-buttons .btn {
    margin: 3px;
}

#grid-view .table td {
    vertical-align: middle;
}

.card-body .btn-group {
    margin: 4px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    width: 75% !important;
}

.select2-container--krajee-bs4 .select2-selection--single {
    height: 35px !important;
}

label {
    height: 20.44px !important;
}

/* Settings form */
.form-actions .btn-secondary {
    color: #404040;
}

.select2-container--bootstrap
    .select2-selection--multiple
    .select2-selection__rendered {
    width: auto !important;
}

.form-horizontal label {
    height: 35px !important;
}

/* View user modal form */
.btn.btn-info {
    color: #fff !important;
}

/* Flashes */
[data-notify="dismiss"] {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

/* Error page */
.card .jumbotron {
    background-color: #fff;
}

.site-error .card {
    max-width: 70%;
    margin: auto;
}
